*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: green;
}
.box{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#container {
    text-align: center;

    background-color: white;
    width: 400px;
    padding: 50px;
    margin-left: 50px;
    border-radius: 16px;
}
.star {
    font-size: 30px;
    color: wheat;
    cursor: pointer;
}
.active {
   margin-top: 20px;
   margin-bottom: 20px;
   color: green;
}